body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #444;
}

.flex-container {
    display: flex;
}
.half-width {
    width: 50%;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 40px;
    margin: 0;
}
h3 {
    font-size: 30px;
}
p {
    font-size: 18px;
    line-height: 1.5;
    color: gray;
    margin: 35px 0;
}
a {
    text-decoration: none;
}
.button {
    display: inline-block;
    font-weight: 700;
    padding: 15px 30px;
    color: white;
    background: linear-gradient(to right, rgb(67, 197, 67), #0d5a0d);
    border-radius: 50px;
    box-shadow: 1px 1px 10px rgba(149, 235, 149, 0.8);
}
h1 span {
    color: green;
}

/* Top Banner Section */

.top-banner {
    padding: 100px;
    background: khaki;
}
.top-banner p {
    width: 75%;
}
.banner-text h1 {
    margin: 0;
    font-weight: 900;
}
.banner-img img {
    width: 100%;
}

/* About Section */

.about {
    padding: 100px 100px 0;
    background-image: url("./images/about-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.about-text {
    padding-left: 150px;
    padding-bottom: 50px;
}
.about-text h2 {
    color: gray;
    font-weight: 900;
}
.about-text p {
    color: #444;
    padding-right: 120px;
    margin-bottom: 80px;
}

/* Recipies Section */

.recipies {
    padding: 100px;
    text-align: center;
}
.recipies h2 {
    color: gray;
    font-weight: 900;
}
.recipies .section-desc {
    color: #444;
    width: 60%;
    margin: 35px auto;
}

.recipies .item {
    width: 30.33%;
    margin: 0 1.5%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 15px gray;
    text-align: left;
    
}
.recipies .item h3 {
    color: black;
    font-weight: 900;
}
.recipies .item p {
    color: black;
}
.recipies .item img {
    width: 100%;
    border-radius: 20px;
}

/* Counter Section */

.counter {
    padding: 100px;
    text-align: center;
}
.item-wrapper {
    padding: 70px 0;
    box-shadow: 2px 2px 20px gray;
    border-radius: 20px;
}
.counter .item {
    width: 27.33%;
    margin: 0 3%;
}
.counter .item h1 {
    margin: 0;
    margin-bottom: 10px;
    color: black;
    font-weight: 900;
}
.counter .item h5 {
    margin: 0;
    color: #444;
}

/* Subscribe Section */
.subscribe {
    padding: 150px;
    background: linear-gradient(to right, black, rgba(0, 0, 0, 0.233)), url("./images/subscribe-bg.jpg");
    background-repeat: none;
    background-size: cover;
}
.subscribe h2 {
    margin-bottom: 30px;
    color: white;
}
.subscribe input {
    width: 600px;
    padding: 15px;
    border-radius: 50px;
    outline: none;
    border: none;
    box-shadow: 1px 1px 10px rgb(149 235 149 / 80%);

}

/* Footer Section */

footer {
    background: rgb(2, 12, 3);
    padding: 50px 0;
    text-align: center;
}
footer h3 {
    color: gray;
    margin: 0;
    font-weight: 900;
}
footer h3 span {
    color: green;
}
footer p {
    color: rgb(222, 243, 227);
}